
@using SaberesSyllabus.Models
@model List<SaberesSyllabus.Models.Saber>
@{
    ViewBag.Title = "Saberes";
}

<h2>@ViewBag.Title</h2>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btn-add").click(function () {
            $("#add").modal({ show: true });
        });
        $("#btn-edit").click(function () {
            $("#edit").modal({ show: true });
        });
        $("#btn-delete").click(function () {
            $("#delete").modal({ show: true });
        });
    });
</script>

<table class="table table-striped table-hover table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Código</th>
            <th>Descripción</th>
            <th>Nivel de Saber</th>
            <th>Porcentaje Logro</th>
            <th><button type="button" id="btn-add" data-toggle="modal" data-target="#add" class="btn btn-success btn-sm" style="float:right"><i class="fa fa-plus"></i> Agregar</button></th>

        </tr>
        @foreach (var sabe in Model)
        {
            <tr>
                <td>@sabe.Id</td>
                <td style="text-align:center">@sabe.Codigo</td>
                <td style="text-align:justify">@sabe.Descripcion</td>
                <td>@sabe.Logro</td>
                <td style="text-align:justify">@sabe.PorcentajeLogro</td>
                <td style="vertical-align: middle">
                    <a href="" id="btn-edit" class="btn btn-warning btn-sm" data-title="edit" data-toggle="modal" data-target="#edit" onclick="editmsj('@sabe.Id', '@sabe.Descripcion', '@sabe.Logro', '@sabe.PorcentajeLogro')"><i class="fa fa-edit"></i> Modificar</a>
                    @if (@sabe.Estado == EnumEstado.Habilitado)
                {
                        <a href="" id="btn-delete" class="btn btn-danger btn-sm" data-title="desh" data-toggle="modal" data-target="#desh" onclick="deshmsj('@sabe.Id')"><i class="fa fa-eye-slash"></i> Deshabilitar</a>
                    }
                    @if (@sabe.Estado == EnumEstado.Deshabilitado)
                {
                        <a href="" id="btn-delete" class="btn btn-primary btn-sm" data-title="hab" data-toggle="modal" data-target="#hab" onclick="habmsj('@sabe.Id')"><i class="fa fa-eye"></i> Habilitar</a>
                    }
                </td>



            </tr>
        }
</table>

<script type="text/javascript">
    deshmsj = function (idSaber) {
        document.getElementById("deletesaber").setAttribute("value", idSaber);
    }
    habmsj = function (idSaber) {
        document.getElementById("habsaber").setAttribute("value", idSaber);
    }

    editmsj = function (Id, descrp, nivel) {
        document.getElementById("editsaber").setAttribute("value", Id);
        document.getElementById("editdescripcion").setAttribute("value", descrp);
        $("#nivelid").append(nivel);
    }
</script>

<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="add" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Agregar un nuevo Saber</h4>
            </div>
            @using (Html.BeginForm("Crear", "Saberes", FormMethod.Post, new { enctype = "multipart/form-data", @style = "border:none", @class = "col-offset-2" }))
            {
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Codigo">Codigo del Saber:</label>
                            <input maxlength="255" type="text" min="0" class="form-control" placeholder="Escriba aquí el codigo del Saber." name="Codigo" required>
                        </div>
                        <div class="form-group">
                            <label for="Nombre">Descripción del Saber:</label>
                            <input maxlength="255" type="text" min="0" class="form-control" placeholder="Escriba aquí la descripción del Saber." name="Descripcion" required>
                        </div>
                        <div class="form-group">
                            <label for="Nombre">Nivel de logro:</label>
                            <select class="form-control" id="Logro" name="Logro" required>
                                <option value="Saber">Saber</option>
                                <option value="SaberHacer">Saber Hacer</option>
                                <option value="SaberSer">Saber Ser</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Porcentaje">Porcentaje del Saber:</label>
                            <input maxlength="255" type="text" min="0" class="form-control" placeholder="Escriba aquí el porcentaje del Saber." name="PorcentajeLogro" required>
                        </div>
                    </div>
                    <input type="hidden" name="Id" value="-1">
                    <input type="hidden" name="Estado" value="Habilitado">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Añadir</button>
                </div>
            }
        </div>
    </div>
</div>
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Editar Saber</h4>
            </div>
            @using (Html.BeginForm("Editar", "Saberes", FormMethod.Post, new { enctype = "multipart/form-data", @style = "border:none", @class = "col-offset-2" }))
            {
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Codigo">Codigo del Saber:</label>
                            <input maxlength="255" type="text" min="0" class="form-control" placeholder="Escriba aquí el codigo del Saber." name="Codigo" required>
                        </div>
                        <div class="form-group">
                            <label for="Nombre">Descripción del Saber:</label>
                            <input maxlength="255" type="text" min="0" class="form-control" placeholder="Escriba aquí la descripción del Saber." name="Descripcion" id="Descripcion" value="" required>
                        </div>

                        <div class="form-group">
                            @{ List<SelectListItem> lista = new List<SelectListItem>();
                                lista.Add(new SelectListItem { Text = "Saber", Value = "Saber" });
                                lista.Add(new SelectListItem { Text = "SaberSer", Value = "SaberSer" });
                                lista.Add(new SelectListItem { Text = "SaberHacer", Value = "SaberHacer" });
                            }
                            @Html.DropDownList("Logro", lista, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="Porcentaje">Porcentaje del Saber:</label>
                            <input maxlength="255" type="text" min="0" class="form-control" placeholder="Escriba aquí el porcentaje del Saber." name="PorcentajeLogro" id="editporcentaje" value="" required>
                        </div>
                        <p>Al modificar esto, usted está aceptando que el Saber anterior será deshabilitada para dar paso a un nuevo Saber</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="editsaber" name="Id" value="" />
                    <button type="submit" class="btn btn-primary">Modificar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
                                }
        </div>
    </div>
</div>

<div class="modal fade" id="desh" tabindex="-1" role="dialog" aria-labelledby="desh" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Deshabilitar Competencia</h4>
            </div>
            @using (Html.BeginForm("Deshabilitar", "Saberes", FormMethod.Post, new { @style = "border:none" }))
            {
                <div class="modal-body">
                    <p id="message">¿Estás seguro de que quieres Deshabilitar el Saber?</p>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="deletesaber" name="id" value="" />
                    <button type="submit" class="btn btn-primary">Deshabilitar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="hab" tabindex="-1" role="dialog" aria-labelledby="hab" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Habilitar Competencia</h4>
            </div>
            @using (Html.BeginForm("Habilitar", "Saberes", FormMethod.Post, new { @style = "border:none" }))
            {
                <div class="modal-body">
                    <p id="message">¿Estás seguro de que quieres Habilitar la Competencia?</p>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="habsaber" name="id" value="" />
                    <button type="submit" class="btn btn-primary">Habilitar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            }
        </div>
    </div>
</div>





